.App input,
.App button {
  margin: 20px;
  padding: 10px 20px;
  border: 2px solid gray;
  background-color: #fff;
  transition: 0.3s;
}

.App button {
  cursor: pointer;
}
.App button:hover {
  background-color: #000;
  color: white;
  border-color: black;
}
form {
  display: flex;
  justify-content: center;
  background-color: rgba(95, 158, 160, 0.2);
}
