.result {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  border-top: 2px solid #ddd;
  text-align: center;
}

.result h3,
.result h4 {
  font-weight: normal;
  line-height: 20px;
}
.result em {
  font-weight: bold;
  line-height: 20px;
}
